.foliwarn, .foliInfo, .foliError, .foliSuccess {
    border-radius: 5px;
    opacity: 0.8;
    width: 300px;
    height: 100px;
    position: fixed; 
    top: 0px; 
    right: 0px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
} 


.foliwarn {
    background: #ffcc35;
    
}

.foliwarn:hover {
    background: #cc9a05;
    box-shadow: 10px 10px 5px #aaaaaa;
}


.foliInfo {
    background: #007bff;
}

.foliInfo:hover {
    background: #0062cc;
    box-shadow: 10px 10px 5px #aaaaaa;
}


.foliError {
    background: #dc3545;
}

.foliError:hover {
    background: #a92835;
    box-shadow: 10px 10px 5px #aaaaaa;
}


.foliSuccess {
    background: #28a745;
}

.foliSuccess:hover {
    background: #1b742f;
    box-shadow: 10px 10px 5px #aaaaaa;
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}