input.empty {
    font-family: Arial,FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.hideItems{
    display: none;
}

.searchBar{
    padding: 5px
}


.info-box{
    transition: box-shadow .3s;
    border: 1px solid #ccc;
}
.info-box:hover{
    box-shadow: 0 0 30px rgba(51, 51, 51, 0.432); 
    filter: brightness(95%);
}