input.empty {
    font-family: Arial,FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.hideItems{
    display: none;
}


.floatingActionButton {
    position: fixed;
    bottom: 50px;
    right: 50px;
    transition: all ease-in-out 0.2s;
    transform: translate(-50%, -50%);
  }
  
  .searchAnchor{
    position: relative;
    width:auto;
    height: auto;
  }
  .searchSubmit {
   opacity:0;
    width: 0px;
  }
  .searchBar {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    outline:none;
    border:none;
    background: #fff;
    width: 50px;
    height:50px;
    border-radius: 25px;
    opacity: 0;
    z-index:5;
    transition: all 0.2;
    font-size: 1em;
  }
  .searchBar:hover{
    cursor: pointer;
  }
  .searchBar:focus {
    width: 200px;
    left:auto;
    opacity: 1;
    cursor: text;
    transition: all 0.2;
    padding-left: 25px;
    padding-right: 70px;
  }
  .searchToggle {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #48b3b1;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.603);
    opacity: 1;
    top: -4px;
    left: -4px;
    border-radius: 50%;
    transition: all 0.2s;
  }
  .searchToggle:hover{
    cursor: pointer;
  }
  .searchToggle::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right:0;
    bottom:0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: #fff;
    transform: rotate(45deg);
    transition: all 0.2s;
  }
  .searchToggle::after {
    content: "";
    position: absolute;
    margin: auto;
    top:-5px;
    right:0;
    bottom:0;
    left: -5px;
    width:25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all 0.2s;
  }
  .searchBar:focus ~ .searchToggle {
    right: 400px;
    background: #48b3b1;
    z-index: 6;
    transition: all 0.2;
  }
  .searchBar:focus ~ .searchToggle::before{
    top: 0;
    left: 0;
    width: 25px;
  }
  .searchBar:focus ~ .searchToggle::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
  }
  