input.calculator {
    background-color: aaa;
    text-align: right;
    border: 0px groove #333;
}

input.calculator:hover {
    background-color: #777;
}

input.calculator:disabled {
    background-color: #ccc;
}

input.i_w {
    background-color: fff;
    border: 0px groove #333;
}

input.i_w:hover {
    background-color: #eee;
}

input.i_save {
    width: 87%;
    text-align: left;
    background-color: #333;
    color: #fff;
    border: 1px groove #333;
    border-radius: 15px;
    text-shadow: 0px 0px 10px #ddd;
}

input.i_delete {
    font-size: 9px;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #333;
    color: #fff;
    border: 1px groove #333;
    border-radius: 15px;
    text-shadow: 0px 0px 10px #ddd;
}

input.i_undelete {
    font-size: 9px;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #333;
    color: #fff;
    border: 1px groove #333;
    border-radius: 15px;
    text-shadow: 0px 0px 10px #ddd;
}

input.btn {
    width: 56px;
    text-align: center;
    background-color: #333;
    color: #fff;
    border: 1px groove #333;
    border-radius: 15px;
    text-shadow: 0px 0px 10px #ddd;
}

input.btnd {
    width: 56px;
    text-align: center;
    background-color: #333;
    color: #fff;
    border: 1px groove #333;
    border-radius: 15px;
    text-shadow: 0px 0px 10px #ddd;
}

input.btns {
    width: 56px;
    text-align: center;
    background-color: #d33;
    color: #fff;
    border: 1px groove #d33;
    border-radius: 15px 15px 15px 50px;
    text-shadow: 0px 0px 10px #ddd;
}

input.btnf {
    width: 56px;
    text-align: center;
    background-color: #49f;
    color: #fff;
    border: 1px groove #49f;
    border-radius: 15px 15px 50px 50px;
    text-shadow: 0px 0px 10px #ddd;
}

input.btno {
    width: 56px;
    text-align: center;
    background-color: #93d;
    color: #fff;
    border: 1px groove #93d;
    border-radius: 50px;
    text-shadow: 0px 0px 10px #ddd;
}

input.btnc {
    width: 56px;
    text-align: center;
    background-color: #c40;
    color: #fff;
    border: 1px groove #c40;
    border-radius: 50px 15px 15px 15px;
    text-shadow: 0px 0px 10px #ddd;
}

input.btnd:hover {
    background-color: #333;
    border: 1px groove #333;
}

input.i_save:hover {
    background-color: #444;
    border: 1px groove #333;
}

input.i_delete:hover {
    background-color: #944;
    border: 1px groove #833;
}

input.i_undelete:hover {
    background-color: #494;
    border: 1px groove #383;
}

input.btn:hover {
    background-color: #444;
    border: 1px groove #333;
}

input.btns:hover {
    background-color: #e44;
    border: 1px groove #e44;
}

input.btnf:hover {
    background-color: #5af;
    border: 1px groove #49f;
}

input.btno:hover {
    background-color: #a4e;
    border: 1px groove #93d;
}

input.btnc:hover {
    background-color: #d51;
    border: 1px groove #c40;
}

#val {
    width: 100%;
    margin-bottom: 4px;
    border-radius: 10px 10px 0px 0px;
    padding-right: 6px;
}

#erg {
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    padding-right: 4px;
}

.todo_text {
    display: inline-block;
    padding-left: 5px;
}

table.calc {
    padding: 15px;
    margin:5px;
    border: 0px groove #333;
    border-radius: 15px !important;
    background: #999;
}

tr.tr_w {
    font-size: 12px;
    color: #000;
    background-color: #fff;
}

tr.tr_b {
    font-size: 12px;
    color: #000;
    background-color: #aaa;
}

tr.tr_d_0 {
    font-size: 12px;
    color: #111;
    background-color: #ccc;
    opacity: 0.8;
}

tr.tr_d_1 {
    font-size: 12px;
    color: #111;
    background-color: #ccc;
    opacity: 0.6;
}

tr.tr_d_2 {
    font-size: 12px;
    color: #111;
    background-color: #ccc;
    opacity: 0.4;
}

tr.tr_d_3 {
    font-size: 12px;
    color: #111;
    background-color: #ccc;
    opacity: 0.2;
}

tr.tr_d_4 {
    font-size: 12px;
    color: #111;
    background-color: #ccc;
    opacity: 0.1;
}

tr.tr_d_5 {
    font-size: 12px;
    color: #111;
    background-color: #ccc;
    display: none;
}

tr.tr_d_n {
    display: none;
}

tr.tr_bht {
    font-size: 12px;
    color: #fff;
    background-color: #333;
}

tr.tr_bh {
    font-size: 12px;
    color: #f00;
    background-color: #aaa;
}

tr.tr_d_0:hover {
    opacity: 0.9;
    color: #d33;
    text-shadow: 0px 0px 6px #d33;
}

tr.tr_d_1:hover {
    opacity: 0.9;
    color: #d33;
    text-shadow: 0px 0px 6px #d33;
}

tr.tr_d_2:hover {
    opacity: 0.9;
    color: #d33;
    text-shadow: 0px 0px 6px #d33;
}

tr.tr_d_3:hover {
    opacity: 0.9;
    color: #d33;
    text-shadow: 0px 0px 6px #d33;
}

tr.tr_d_4:hover {
    opacity: 0.9;
    color: #d33;
    text-shadow: 0px 0px 6px #d33;
}

tr.tr_d_5:hover {
    opacity: 0.9;
    color: #d33;
    text-shadow: 0px 0px 6px #d33;
}

tr input {
    color: #fff;
}




.calc_button {
    display: table-row;
}

.mwst_button {
    display: none;
}