input.empty {
  font-family: Arial, FontAwesome, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.info-box {
  transition: box-shadow .3s;
  border: 1px solid #ccc;
}

.info-box:hover {
  box-shadow: 0 0 30px rgba(51, 51, 51, 0.432);
  filter: brightness(95%);
}

.tool-item {
  cursor: pointer; 
  animation: fade_in .25s;
  animation-fill-mode: both
}

@keyframes fade_in {
  from {
      transform:scale(0.9);
      opacity:0
  }
  to {
      transform: scale(1);
      opacity:1
  }
}

.tool-item-hidden {
  animation: fade_out .5s;
    animation-fill-mode: both
}

@keyframes fade_out {
    from {
        transform:scale(1);
        opacity:1
    }
    to {
        transform: scale(0.9);
        opacity:0
    }
}


.floatingActionButton {
  position: fixed;
  bottom: 50px;
  right: 50px;
  transition: all ease-in-out 0.2s;
  transform: translate(-50%, -50%);
}

.searchAnchor {
  position: relative;
  width: auto;
  height: auto;
}

.searchSubmit {
  opacity: 0;
  width: 0px;
}

.searchBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: none;
  border: none;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  opacity: 0;
  z-index: 5;
  transition: all 0.2;
  font-size: 1em;
  padding: 5px
}

.searchBar:hover {
  cursor: pointer;
}

.searchBar:focus {
  width: 200px;
  left: auto;
  opacity: 1;
  cursor: text;
  transition: all 0.2;
  padding-left: 25px;
  padding-right: 70px;
}

.searchToggle {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #48b3b1;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.603);
  opacity: 1;
  top: -4px;
  left: -4px;
  border-radius: 50%;
  transition: all 0.2s;
}

.searchToggle:hover {
  cursor: pointer;
}

.searchToggle::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: #fff;
  transform: rotate(45deg);
  transition: all 0.2s;
}

.searchToggle::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: all 0.2s;
}

.searchBar:focus~.searchToggle {
  right: 400px;
  background: #48b3b1;
  z-index: 6;
  transition: all 0.2;
}

.searchBar:focus~.searchToggle::before {
  top: 0;
  left: 0;
  width: 25px;
}

.searchBar:focus~.searchToggle::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}

.navbar {
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 10px;
  opacity: 0.95;
}

input.navSearch {
  width: 250px;
  margin-left: -85px;
  text-align: center;
}


.cookieBanner {
  background-color: #212529;
  color: white;
  height: 45px;
  text-align: center;
  padding: 5px;
  opacity: 0.95;
}

.cookieBanner .fa-cookie {
  color: #51b7b5;
}


#loader-container {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(31, 35, 39);
  position: fixed;
  z-index: 10000;
}

#loader {
  color: #51b7b5;
  text-align: center;
  left: 50%;
  top: 50%;
  position: absolute;
}

.navbar-brand img {
  height: 30px;
}